
/* nav-bar */
*{

    font-family: Helvetica;
}


.nav-bar{
    background-image: linear-gradient( 111.4deg,  rgb(20, 62, 82) 1%, rgb(19, 18, 17) 58% );
    position:relative;
    width: 100%;
    height: 80px;
   
    
   
   
}

.logo{

    width: 50px;
    margin-top: 10px;
    padding-left: 30px;
}

.navbar-itens{

    position: absolute;
    display: inline-block;
    right: 30px;
    height: 80px;
    line-height: 80px;
    margin: 0;
    top: 2px;

}

.navbar-itens a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    
}

.navbar-itens li{
   
    display:inline-block;
    margin-left: 20px;
    

}

.navbar-itens a:hover{

    color: #ccc;
    
}

.defult-btn{

    background-color: rgb(8, 172, 90);
    padding: 15px;
    border-radius: 25px;
}

.navbar-itens a.defult-btn:hover{
background-color:  rgb(6, 126, 66); 
color: white;


}






.main-banner{

      
    background-image: url("../img/360_F_627488418_f0wbIZoJt2bsLBgDweP0w6ycmibqHGbZ.jpg");
    background-position:center;
    background-size: cover;
    padding: 8rem 0;
    
   
   
   
   
   
    
}


.main-banner h1,
.main-banner p{

    text-align: center;
    color:#fff;
    font-weight: bold;
    text-shadow: black 3px 2px 3px;


}

.main-banner h1{
    font-size: 50px;
}

.main-banner p{

    font-size: 30px;
}



.wpp{
    
    position:relative;
    margin-top: 500px;
    margin-right: 10px;
    text-align: right;
    margin-bottom: 1px;
   


}

.wpp-btn{
    position: relative;
   
     width: 6%;  
   
     
    

    
}

.contaner2{
    margin-top: -550px;
    margin-left: 30PX;
    text-align: left;
    margin-bottom: 1px;
    

}



.service-contaner{

    margin-top: -560px;
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #cccccc44;
 
}

.service-contaner li{
    text-align: center;
    padding: 20px;
    flex: 1 1  200px;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
   
    


}
.fas{

    font-size: 60px;
    
}

.fa-shield-alt{

    color:#2cc761;
}
.fa-rocket{

    color:#ef3f29
}

.fa-comments{

    color: #ef8f29;
}



.service-contaner p{
    line-height: 30px;

}

.planes{

    text-align: center;
}

.planes h1{
    margin-top: 70px;
    font-size: 50px;
}
.planes h3{

    font-weight: normal;
    margin-top: -30px;
    margin-bottom: 50px;
}

.planes-prices{

    display: flex;
    justify-content:space-around;
    
    
    
    
}

.planes-prices li{

    list-style: none;
    line-height: 60px;
    background-color: #cccccc94;
    

 
 
    
}

.planes-prices .price{

    color:#fff;
    background-color: #2cc761;
    border-radius: 100px;
    width: 150px;
    height: 150px;
   font-weight: bold;
   line-height: 150px;
   text-align: center;
   font-size: 20px;
   position: relative;
   margin-left: 80px;
   

    
}

.planes-prices .plane{

    background-color: #202b34;
    color: #fff;
    margin-top: -90px;
    width: 300px;
    height: 200px;
    line-height: 300px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;

    
}

.planes-prices .btn-sabermais{

    color: white;
    background-color: #2cc761;
    font-size: 20px;
    text-transform: uppercase;
    
}

a{

    text-decoration: none;
    color:white
}



.planes-prices ul:hover{
    .btn-sabermais{
        background-color: #249b4e;
        

    }

    border: 1px solid rgb(32, 253, 32);
    border-radius: 30px;
  

    

     
}

.planes-prices ul{
padding: 30px;

}

.domain{

margin: 2rem 0;
padding: 2rem 0;
background-image: linear-gradient( 111.4deg,  rgb(20, 62, 82) 1%, rgb(19, 18, 17) 58% );
text-align: center;

}

.domain h1{

    font-size: 50px;
    color:white;
    }

.domain p{

    font-size:25px;
    color: #e9e0e0;
    margin-top: -15px;

}

.form input[type="text"]{

    width: 900px;
    height: 70px;
   display: block;
   margin-left: 270px;
   font-size: 20px;
   padding-left: 20px;
    border-radius: 10px;

    margin-bottom: 50px;
}

.form input[type="submit"]{

   background-color: #2cc761;
   color:white;
   padding: 30px;
   text-transform: uppercase;
   width: 290px;
   font-size: 20px;
    border-radius: 10px;
    margin-top: 1px;

    margin-bottom: 30px;

}

.form input[type="submit"]:hover {
    background-color: #249b4e;
    cursor: pointer;



}

/* form contact */
.contact{
    margin-top: 100px;

    text-align: center;
}
.contact h1{

    font-size: 50px;
    margin-bottom: -5px;
}

.contact p{

    font-size: 25px;
    margin-bottom: 50px;
    
   
}

.contact input[type="text"]{

  font-size: 20px;
  border: 1px solid green;
  width: 400px;
  height: 40px;
 margin-right: 30px;
 border-radius: 5px;
 padding: 20px;


}
#comments{

    border: 1px solid #2cc761;;
    width: 700px;
  height: 100px;
  display: block;
  padding: 20px;
  font-size:20px ;
  margin: 1rem auto ;
  border-radius: 5px;
}


.submit-contact{
   
   border: 1px solid transparent;
   background-color: #2cc761;

   color:white;
   padding: 20px;
   text-transform: uppercase;
   width: 150px;
   font-size: 15px;
    border-radius: 10px;
    margin-top: 1px;

    margin-bottom:70px;

}

.submit-contact:hover {
    background-color: #249b4e;
    cursor: pointer;



}

footer{

    background-color:#cccccc91;
    height: 140px;
    
}

footer p{

    font-size: 20px;
    text-align: center;
    color: rgb(11, 65, 11);
    padding: 50px;
}


/* responsive Celular */

@media screen and (max-width: 576px) {

    body{

        overflow-x: hidden;
    }



    .navbar-itens li{

        font-size: 13px;
        margin-left: 1px;
        text-align: right;
    }


    
.service-contaner{

    margin-top: -500px;
    flex-direction: column;
    
 
}

.planes-prices{

    flex-direction: column;


    
}


.planes-prices .plane{

    
    width: 350px;
   

    
}



.planes-prices .price{

    
    margin-left: 100px;
   

    
}


.domain h1 {
    font-size: 30px;
    
}
.domain p {
    font-size: 15px;
    
}


.form input[type="text"] {
   
    margin-left: 50px;
    font-size: 20px;
    text-align: left;
    width: 70%;
   
}

.form input[type="submit"] {
   
    padding: 20px;
     width: 250px;
     font-size: 17px;

}


.contact p {
    font-size: 20px;
   
}


.contact input[type="text"] {
    font-size: 20px;
    width: 300px;
    margin-right: 0px;
    flex-direction: column;
    margin-bottom: 10px;
    
}

#comments {
    border: 1px solid #2cc761;
    width: 300px;
    height: 100px;
    margin: 1rem auto;

}
   



    
    
}



@media screen and (max-width: 900px) {

    body,
    html{

        overflow-x: hidden;
    }


    .planes-prices{

        flex-direction: column;
    
    
        
    }


    .planes-prices .plane{

    
        width: 692px;
       
    
        
    }
    
    
    
    .planes-prices .price{
    
        
        margin-left: 275px;
        
       
    
        
    }
    
    
    .domain h1 {
        font-size: 30px;
        
    }
    .domain p {
        font-size: 15px;
        
    }
    
    
    .form input[type="text"] {
       
        margin-left: 95px;
        font-size: 20px;
        text-align: left;
        width: 70%;
       
    }
    
    .form input[type="submit"] {
       
        padding: 20px;
         width: 250px;
         font-size: 17px;
    
    }
    
    
    .contact p {
        font-size: 20px;
       
    }
    
    
    .contact input[type="text"] {
        font-size: 20px;
        width: 300px;
        margin-right: 0px;
        flex-direction: column;
        margin-bottom: 10px;
        
    }
    
    #comments {
        border: 1px solid #2cc761;
        width: 500px;
        height: 100px;
        margin: 1rem auto;
    
    }




}













   